<div class="col-12">
 
 <div class="col-4">
	 <%= image_tag comment.user.avatar.url(:thumbnail) %>	
	 <%= link_to comment.user.name, comment.user %>
	  <br>
	  <strong>Commented:</strong>
	  <%= comment.body %>
	  <br>
		<%= comment.created_at.to_s(:short) %>
		<p>
		<% if current_user?(comment.user) %>
	  <%= link_to 'Destroy Comment', [comment.commentable, comment],
	               method: :delete,
	               data: { confirm: 'Are you sure?' } %>
	               <% end %>
		</p>
		<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#comment-<%= comment.id %>" aria-expanded="false" aria-controls="comment-<%= comment.id %>">
		Reply
		</button>

		<div class="collapse" id="comment-<%= comment.id %>">
			<%= form_with(model: [comment, Comment.new], local: true) do |form| %>
		  	<p>
		  	<%= hidden_field_tag "article_id", @article.id %>
		  	<%= hidden_field_tag "comment_id", comment.id %>
		    <%= form.text_area :body %>
			 </p>
			 <p>
		    <%= form.submit %>
		    </p>
			<% end %>
		</div>

		<div class="col-4 col-md-offset-1">
	    <% comment.comments.each do |comcom| %>
			<%= image_tag comcom.user.avatar.url(:thumbnail) %>
			<%= link_to comcom.user.name, comcom.user %>	
		  <br>
		  <strong>Commented:</strong>
		  <%= comcom.body %>
		  <br>
			<%= comcom.created_at.to_s(:short) %>
			<br>
			<br>
			<% end %>
		</div>

	</div>
</div>