<!-- Avatar, author, body, time  for comment, that we render-->

<% unless comment.user.avatar.blank? %>
<%= image_tag comment.user.avatar.variant(resize_to_limit: [70, 70]) %>
<% end %>
<%= link_to comment.user.name, comment.user %>	
<br>
<strong>Commented:</strong>
<%= comment.body %>
<br>
<%= comment.created_at.to_s(:short) %>
<p>
	<% if current_user?(comment.user) %>
  <%= link_to 'Destroy Comment', [comment.commentable, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               'data-remote': 'true' %>
  <% end %>
</p>
<br>
<br>