
  <%= link_to comment.user.name, comment.user %>

 <%= image_tag comment.user.avatar.url(:thumbnail) %>	

  <br>
  <strong>Commented:</strong>
  <%= comment.body %>
  <br>
<%= comment.created_at.to_s(:short) %>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>