
<div class="col-12">
	<h3><%= @article.title %></h3>
	<hr>
	<p>
	  <strong>Author:</strong>
	  <%= image_tag @article.user.avatar.url(:thumbnail) %>
	  <%= link_to @article.user.name, @article.user %>
	  
	</p>

	<p><%= @article.created_at.to_s(:short) %></p>
	<p>
	  <strong>Text:</strong>
	  <%= @article.text %>
	</p>
	<%= link_to 'Edit', edit_article_path(@article) %> 
	
	<h4>Add a comment to Article:</h4>

	<%= render 'comments/form' %>
	<hr>

		<%= will_paginate @comments, list_classes: %w(pagination pagination-sm) %>
		<br>
		<%= render @comments %>
		<br>
		<%= will_paginate @comments, list_classes: %w(pagination pagination-sm) %>

</div>
