<header>
	<%= render 'layouts/header' %>
</header>
<br>
<br>
<br>
<%= @user.name %>, <%= @user.email %>

<div class="row">
  <aside class="col-md-5">
      <h1>
        <%= image_tag @user.avatar.url(:medium) %>
      </h1> 
  </aside>
</div>
<br>

<% if current_user?(@user) %>
 <%= link_to "Change your profile", edit_user_path, class: "btn btn-primary" %>
 <%= link_to "Delete", @user, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn btn-primary"  %>
<% end %>