<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse container" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, :class => "nav-link" %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Articles', {controller: 'articles'}, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", users_path, :class => "nav-link" %>  
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", current_user, :class => "dropdown-item" %>
            <%= link_to "Settings", edit_user_path(current_user), :class => "dropdown-item" %>
            <%= link_to "Log out", sessions_destroy_path, :class => "dropdown-item", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", sessions_new_url, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_path, :class => "nav-link" %>
        </li>
      <% end %>    
    </ul>
  </div>
</nav>